.admin-container {
    padding: 20px;
}

.admin-container .validation-container {
    width: 250px;
}

.admin-container .welcome-container {
    font-size: 16px;
}

.admin-container .guests-container {
    margin-top: 30px;
}

.admin-container .guests-container .guest-container {
    padding: 10px 0;
    display: flex;
    border-bottom: 1px solid gray;
}

.admin-container .guests-container .guest-container div {
    display: inline-block;
    margin: 0 5px;
    width: 180px;
}