<div ng-if="loading">

</div>

<div class="page-container" ng-if="!loading">
    <img src="../../images/together.png" class="together">

    <div class="title">
        שלום {{guest.first_name + ' ' + guest.last_name}}
    </div>

    <div class="body" ng-if="!savedState && doneOpacity">
        <div class="guests">
            <span>
            אנא
            {{guest.isMale ? 'סמן' : 'סמני'}}
            מס' אנשים
            </span>

            <div class="numeric-container">
                <md-button class="md-raised" ng-click="increaseGuests()">
                    +
                </md-button>

                <span class="guests-counter">{{guest.num_of_attendees}}</span>

                <md-button class="md-raised" ng-click="decreaseGuests()">
                    -
                </md-button>
            </div>
        </div>

        <div class="guests">
            <span>
            הערות
            </span>

            <div class="comment-container">
                <input ng-model="guest.comment">
            </div>
        </div>

        <div class="submit-title">
            אנא
            {{guest.isMale ? 'אשר' : 'אשרי'}}
            הגעתך לחתונתנו
        </div>

        <div class="actions">
            <md-button class="md-raised action going" ng-click="submit(true)">
                {{guest.cellphone === '+972546923231' ? 'כן כן תודה רבה' : guest.isMale ? 'מגיע' : 'מגיעה'}}
            </md-button>

            <md-button class="md-raised action not-going" ng-click="submit(false)">
                {{guest.cellphone === '+972546923231' ? 'לא מגיע מטייל עם זואי' : guest.isMale ? 'לא מגיע' : 'לא מגיעה'}}
            </md-button>
        </div>
    </div>

    <div class="body" ng-if="savedState && doneOpacity">
        <div ng-if="guest.arriving">
            תודה על המענה, נתראה בקרוב
            <i class="fa fa-smile-o" aria-hidden="true"></i>
        </div>

        <div ng-if="!guest.arriving">
            תודה על המענה, צר לנו שלא
            {{guest.isMale ? 'תגיע' : 'תגיעי'}}

            <i class="fa fa-frown-o" aria-hidden="true"></i>
        </div>

        <div class="change-rsvp">
            <md-button class="md-flat" ng-click="changeRsvp()">
                {{guest.isMale ? 'לחץ' : 'לחצי'}}
                כאן לשנות בחירתך
            </md-button>
        </div>
    </div>
</div>